includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 3

    paths:
        - app

    excludePaths:
        - vendor
        - storage
        - bootstrap/cache

    fileExtensions:
        - php

    bootstrapFiles:
        - vendor/autoload.php

    parallel:
        maximumNumberOfProcesses: 1

